[submodule "libpfc"]
	path = libpfc
	url = https://github.com/obilaniu/libpfc
[submodule "nasm-utils"]
	path = nasm-utils
	url = https://github.com/travisdowns/nasm-utils
[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "libpfm4"]
	path = libpfm4
	url = https://git.code.sf.net/p/perfmon2/libpfm4
