# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
uarch-bench
unit-test

# Eclipse CDT artifacts
.cproject
.project
.settings

# nasm listing file
*.list

# libpfm4 directory
libpfm-4*/*

# core files
/core*
/vgcore*

# perf files
/perf.*

/tmp/*

dummy.rebuild

# local make config file
local.mk

# event download indicator file
/download_events.touch

# hotspot error dumps
hs_err_pid*.log

# nasm rpms
/nasm-binaries/rpms